* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
            font-family: 'Staatliches', cursive;
}  
body {
    background-color: #3B3B43;
    height: 100%;
    /* border: red solid 1px; */
    padding-top: 45px;
}  
a {
    text-decoration: none;
    color: white;
}  





/*------- Estilos MAIN ------------ */



.mapas{
    padding: 100px;
    display: flex;
    /* border: solid 3px red; */
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    gap: 50px;
    align-content: center;
    justify-content: center;
    &__card{
        display: flex;
        // background-color: rgb(247, 241, 241);
        /* border: solid 1px white; */
        border-radius: 10px;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        box-shadow: 1px 1px 12px 0px rgba(0,0,0,0.3);
        h3{
    
            display: inline;
            width: 100%;
            text-align: center;
            /* margin: 10px; */
        }
        h4{
            @extend h3;
        }
        li{
            list-style-type: none;
        }
    }
}






/*------- Estilos MAIN ------------ */

/* ------- FOOTER -------*/

footer .fab, footer .far {
    font-size: 30px;
    color: black;
    padding: 4px;
    margin: 1px;
}

.footers{
    display: flex;
    /* border: 1px solid blue; */
    width: 100%;
    height: auto;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 0px;
    &__text{
        display: flex;
        /* border: 1px solid red; */
        height: 50px;
        align-content: center;
        align-items: center;
        padding-top: 15px;
    }
    &__iconos{
        display: flex;
        /* border: 1px solid red; */
    }
}

/* ------- FIN FOOTER -------*/