* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.body {
    margin-top: 100px;
    background-color: #3B3B43;
}


body::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar-track {
    background: #3B3B43;
}

body::-webkit-scrollbar-thumb {
    background-color: #676565;
    border-radius: 10px;
    border: 3px solid #3B3B43;
}

a {
    text-decoration: none;
    color: #3B3B43;
} 

nav{
    background-color: #28272D;
}
/*------- Estilos HEADER ------------ */


/* h1 {
    text-align: center;
}

nav {
    width: 100%;
    display: flex;
    align-items:center;
    justify-content: space-around;
    background-color: rgb(54, 54, 54);
}

ul {
    display: flex;
}

li {
    list-style: none;
    padding: 5px;
    width: auto;
    height: 20px;
    margin: 10px;
    text-align: center;
    cursor: pointer;
    transition: all 300ms;
}

li:hover {
    
    transform: translate(-2px , -2px);
}  */


/*------- Estilos HEADER ------------ */

/*------- Estilos MAIN ------------ */
.exodia{
    background-color: #3B3B43;
}
.grid{
    display: grid;
    grid-template-columns: 25% 50% 380px;
    /* grid-template-rows: auto; */
    gap: 1em;
    border-radius: 20px;
    font-size: 25px;
    
    
}

.grid div{
    /* background: skyblue; */
    padding: 5px;
    margin: 5px;
    /* border: 1px solid red; */
    border-radius: 20px;
}

/* .grid div:hover{
    border: 5px solid red;
} */

.el1{
    display: grid;
    grid-template-columns: auto 33% auto;
    /* grid-template-rows: 100px; */
    grid-column: 1/4;
    color: white;
    justify-content: space-around;
    justify-items: center;
    align-items: center;
    align-content: space-evenly;
    color: #AAA8AE;
}




.el11{
    
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    object-fit: cover;
    color: #AAA8AE;
    cursor: pointer;
    transition: all 300ms;
}

.el11:hover {
    
    transform: translate(-10px , -10px);

} 

.el12{
    color: #AAA8AE;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.el13{

    color: #AAA8AE;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: flex-end;
    cursor: pointer;
    transition: all 300ms;
}

.el13:hover {
    
    transform: translate( 10px , -10px);
} 

.texto{
    color: #AAA8AE;
}


.contenedorbody{
    display: flex;
    width: 100%;
    height: 800px;
    /* border: 3px solid red; */
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: space-around;
    justify-content: space-evenly;
    align-items: center;
    margin: 0px;
    padding: 0px;
}

.texto{
    display: flex;
    width: 300px;
    height: 800px;
        /* border: 3px solid red; */
        align-content: center;
        justify-content: center;
        align-items: center;
        margin: 0px;
    padding: 0px;
}

.imagenes{
    display: flex;
    width: 800px;
    height: 800px;
    /* border: 3px solid red; */
    flex-direction: row;
    align-content: center;
    justify-content: center;
    margin: 0px;
    padding: 0px;
}

.imagenes2{
    display: flex;
    /* border: 3px solid red; */
    align-content: center;
    justify-content: center;
    align-items: center;
}

button {
    display: none;
    color: black;
}

nav{
    background-color: #28272D;
    color: #AAA8AE;
}

/* a{
    color: #AAA8AE;
} */


/*------- Estilos MAIN ------------ */

/* ------- FOOTER -------*/

footer {
    width: 100%;
    display: flex;
    background-color: #28272D;
    justify-content: right;
    padding: 1px;
    }

.fab, .far {
    font-size: 30px;
    color: white;
    padding: 4px;
    margin: 1px;
} 
/* ------- FOOTER -------*/

