* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #3B3B43;
    height: auto;
}

a {
    text-decoration: none;
    color: white;
} 



/*------- Estilos HEADER ------------ */
/* h1 {
    text-align: center;
}

nav {
    width: 100%;
    display: flex;
    align-items:center;
    justify-content: space-around;
    background-color: rgb(54, 54, 54);
}

ul {
    display: flex;
}

li {
    list-style: none;
    padding: 5px;
    width: auto;
    height: 20px;
    margin: 10px;
    text-align: center;
    cursor: pointer;
    transition: all 300ms;
}

li:hover {
    
    transform: translate(-2px , -2px);
} 
 */
nav{
    background-color: #28272D;
}
/*------- Estilos HEADER ------------ */

/*------- Estilos MAIN ------------ */

.grid{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;
    justify-content: space-around;
    background-color: #3B3B43;
    /* border: solid red 3px; */
    flex-wrap: nowrap;
    align-content: center;
}
/* .grid div{
    padding: 1em; 
} */

/* .box-img1{
    display: grid;
    height: 700px;
    width: 450px;
    transition: transform 1s;
} */

.box-img1{
    display: flex;
    height: 900px;
    width: 450px;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    
}
.box-img1 figure{
   position:relative;
    cursor: pointer;
    height: 700px;
    width: 450px;
    border-radius: 50px;
    overflow: hidden;

    box-shadow: 0px 15px 25px rgba(0,0,0,0.50);
}
.box-img1 figure img{
    height: 700px;
    width: 450px;
    border-radius: 50px;
    transition: all 400ms ease-out;
    will-change: transform;
}
.box-img1 figure .capa{
    position: absolute;
    top: 0;
    height: 700px;
    width: 450px;
    border-radius: 50px;
    background: rgba(74, 75, 75, 0.7);
    transition: all 400ms ease-out;
    opacity: 0;
    visibility: hidden;
   text-align: center;
}
.box-img1 figure:hover > .capa {
    opacity: 1;
    visibility: visible;
}
.box-img1 figure:hover > .capa h3{
    margin-top: 70px;
    margin-bottom: 15px;
}
.box-img1 figure:hover > img{
    transform: scale(1.3);
}
.box-img1 figure .capa h3{
    /* color: #fff; */
    font-weight: 400;
    border-radius: 50px;
    margin-bottom: 120px;
    transition: all 400ms ease-out;
     margin-top: 30px;
}
.box-img1 figure .capa p{
    /* color: #fff; */
    font-size: 15px;
    border-radius: 50px;
    line-height: 1.5;
    width: 100%;
    max-width: 220px;
    margin: auto;
}





.BannerSedan{
    height: 700px;
    width: 450px;
    border-radius: 50px;
    object-fit: cover;
}

.box-img2{
    display: flex;
    height: 700px;
    width: 450px;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    
}
.box-img2 figure{
   position:relative;
    cursor: pointer;
    height: 700px;
    width: 450px;
    border-radius: 50px;
    overflow: hidden;

    box-shadow: 0px 15px 25px rgba(0,0,0,0.50);
}
.box-img2 figure img{
    height: 700px;
    width: 450px;
    border-radius: 50px;
    transition: all 400ms ease-out;
    will-change: transform;
}
.box-img2 figure .capa{
    position: absolute;
    top: 0;
    height: 700px;
    width: 450px;
    border-radius: 50px;
    background: rgba(74, 75, 75, 0.7);
    transition: all 400ms ease-out;
    opacity: 0;
    visibility: hidden;
   text-align: center;
}
.box-img2 figure:hover > .capa {
    opacity: 1;
    visibility: visible;
}
.box-img2 figure:hover > .capa h3{
    margin-top: 70px;
    margin-bottom: 15px;
}
.box-img2 figure:hover > img{
    transform: scale(1.3);
}
.box-img2 figure .capa h3{
    /* color: #fff; */
    font-weight: 400;
    border-radius: 50px;
    margin-bottom: 120px;
    transition: all 400ms ease-out;
     margin-top: 30px;
}
.box-img2 figure .capa p{
    /* color: #fff; */
    font-size: 15px;
    border-radius: 50px;
    line-height: 1.5;
    width: 100%;
    max-width: 220px;
    margin: auto;
}
.BannerRural{
    height: 700px;
    width: 450px;
    border-radius: 50px;
    object-fit: cover;
}

.box-img3{
    display: flex;
    height: 700px;
    width: 450px;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    
}
.box-img3 figure{
   position:relative;
    cursor: pointer;
    height: 700px;
    width: 450px;
    border-radius: 50px;
    overflow: hidden;

    box-shadow: 0px 15px 25px rgba(0,0,0,0.50);
}
.box-img3 figure img{
    height: 700px;
    width: 450px;
    border-radius: 50px;
    transition: all 400ms ease-out;
    will-change: transform;
}
.box-img3 figure .capa{
    position: absolute;
    top: 0;
    height: 700px;
    width: 450px;
    border-radius: 50px;
    background: rgba(74, 75, 75, 0.7);
    transition: all 400ms ease-out;
    opacity: 0;
    visibility: hidden;
   text-align: center;
}
.box-img3 figure:hover > .capa {
    opacity: 1;
    visibility: visible;
}
.box-img3 figure:hover > .capa h3{
    margin-top: 70px;
    margin-bottom: 15px;
}
.box-img3 figure:hover > img{
    transform: scale(1.3);
}
.box-img3 figure .capa h3{
    /* color: #fff; */
    font-weight: 400;
    border-radius: 50px;
    margin-bottom: 120px;
    transition: all 400ms ease-out;
     margin-top: 30px;
}
.box-img3 figure .capa p{
    /* color: #fff; */
    font-size: 15px;
    border-radius: 50px;
    line-height: 1.5;
    width: 100%;
    max-width: 220px;
    margin: auto;
}
.BannerSuv{
    height: 700px;
    width: 450px;
    border-radius: 50px;
    object-fit: cover;
}

h3{
    color: #AAA8AE;
}

p{
    color: #AAA8AE;
}

li{
    color: #AAA8AE;
}





/*------- Estilos MAIN ------------ */

/* ------- FOOTER -------*/

footer {
    width: 100%;
    display: flex;
    background-color: #28272D;
    justify-content: right;
    padding: 1px;
    }

.fab, .far {
    font-size: 30px;
    color: white;
    padding: 4px;
    margin: 1px;
} 
/* ------- FOOTER -------*/

@media (max-width: 970px) {
    .grid{
        flex-direction: column;
    }

    .grid div{
        width: 100%;
        height: 100%;
    }
    
    nav{
        justify-content: center;
        text-align: center;
    }
}
