*{
  padding: 0px;
  margin: 0px;
  font-family: 'Staatliches', cursive;
}

body{
  background-image: url(../Pañol/Fondo.jpeg);
  background-size: cover;
  background-position: center; 
}


/*------- Estilos MAIN ------------ */

.container{
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

form{
  display: flex;
  flex-flow: column;
  background-color: white;
  width: 40%;
  height: 80%;
  padding: 20px;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(0,0,0,0.8) 0px 0px 50px;
  border-radius: 10px;
}

input, textarea{
  border: none;
  resize: none;
  outline: none;
  padding: 15px 0px;
  width: 80%;
  margin: 20px;
  transition: all 300ms;
  border-bottom: 1px solid rgba(0,0,0,0.2);
}

input:focus, textarea:focus{
  border-bottom-color: #181818 ;
}


button{
  border: none;
  outline: none;
  background: black;
  padding: 15px;
  width: 200px;
  color: white;
  border-radius: 2px;
  box-shadow: rgba(0,0,0,0.7) 0px 0px 10px;
  margin: 20px 0px;
  cursor: pointer;
  transition: all 300ms;
}

button:hover{
  transform: scale(1.05);
  box-shadow: rgba(0,0,0,0.9) 0px 0px 10px;
}

/* FIN DE MAIN */

/* ------- FOOTER -------*/
footer .fab, footer .far {
  font-size: 30px;
  color: black;
  padding: 4px;
  margin: 1px;
}

.footers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* border: 1px solid blue; */
  width: 100%;
  height: auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 0px;
}

.footers__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* border: 1px solid red; */
  height: 50px;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 15px;
}

.footers__iconos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* border: 1px solid red; */
}

/* ------- FIN FOOTER -------*/
